#load_cont {
    position: relative;
    width: 100%;
    height: 400px;
}
.btn {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: yellow;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.var_1 {
    color: green;
    font-size: 28px;
}
.var_2 {
    color: red;
    font-size: 38px;
}
.var_3 {
    color: blue;
    font-size: 48px;
}